<style >
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>


<div class="message-content">
  <p>Olá, {{ name }}</p>
  <p>Parece que houve uma solicitação de alteração de senha para sua conta</p>
  <p>Se a solicitação foi feita por você, clique no link abaixo para fazer a alteração. Caso contrário, desconsidere esta mensagem.</p>
  <p>
    <a href="{{link}}">Redefinir minha senha</a>
  </p>
  <p>Obrigado!
    <strong>Equipe GoBarber</strong>
  </p>
</div>
